<?xml version="1.0"?>
<!--
/**
 * @category    Genmato
 * @package     Genmato_MultiStoreSearchFields
 * @copyright   Copyright (c) 2015 Genmato BV (https://genmato.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Resource\Eav\Attribute">
        <plugin name="attributeAdvancedSearchStore"
                type="Genmato\MultiStoreSearchFields\Model\Resource\Eav\Attribute\Plugin"
                sortOrder="9999"
                />
    </type>
</config>