<?xml version="1.0"?>
<!--
/**
* @category    Genmato
* @package     Genmato_MultiStoreSearchFields
* @copyright   Copyright (c) 2015 Genmato BV (https://genmato.com)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
        <tab id="genmato" translate="label" sortOrder="350">
            <label>Genmato</label>
        </tab>
        <section id="multistoresearchfields" translate="label" type="text" sortOrder="300" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>MultiStore Search Fields</label>
            <tab>genmato</tab>
            <resource>Genmato_MultiStoreSearchFields::configuration</resource>
            <group id="config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Search Attributes</label>
                <field id="attributes" translate="label" type="multiselect" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Advanced Search Attributes</label>
                    <source_model>Genmato\MultiStoreSearchFields\Model\Config\Source\Advanced\Search\Attributes</source_model>
                </field>
            </group>
        </section>
    </system>
</config>